{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}
{% block body %}
{% if user_profile.usermode == 0 %}

{% block css %}<link rel="stylesheet" href="/static/services.css"> <link rel="stylesheet" href="/static/search.css">{% endblock css %}






<div class="  col-md-pull-3"  >
    <!-- <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p> -->
    
    {% for users in product_cart_list %}
    <section class="search-result-item">
        
        <div class="container bg-trasparent my-4 p-3" style="position: relative">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
              
              <div class="col-card col hp p-3" >
                <div class="card h-150 shadow-sm p-4">
                  <a href="#">
                    <div class="imgbox">
                      <img src={{users.productimg.url}} class="card-img-top  rounded" alt="product.title" />
                    </div>
                    
                  </a>
          
                  <div class="label-top shadow-sm">
                    <a class="text-decoration-none text-white" href="#">{{users.name}}</a>
                  </div>
                  <div class="card-body">
                    <div class="clearfix mb-3">
                      <span class="float-start badge rounded-pill bg-success">{{users.price}}</span>
          
                      <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
                    </div>
                    <h5 class="card-title">
                      <a target="_blank" href="#">{{users.description}}</a>
                    </h5>
          
                    <div class="d-grid gap-2 my-4">
                        <form action="/cart" method="POST">
                            {% csrf_token %}
        
                                    
                                    <input type="text" name="product_id" value="{{users.id}}" class="visually-hidden" placeholder="Search for username..">
                                    <button type="submit" class="btn btn-warning bold-btn">add to cart</button>
                                    <h1>
                                        {{elctronic}}
                                    </h1>
                                <!-- </div> -->
                        
                            </div>
                        </form>
                      
          
                    </div>
                    <div class="clearfix mb-1">
          
                      <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
          
                      <span class="float-end">
                        <i class="far fa-heart" style="cursor: pointer"></i>
          
                      </span>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
        </div>
        
    </section>
    {% endfor %}
    {% for users in cart_items %}
    <section class="search-result-item">
        
      <div class="container bg-trasparent my-4 p-3" style="position: relative">
          <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            
            <div class="col-card col hp p-3" >
              <div class="card h-150 shadow-sm p-4">
                <a href="#">
                  <div class="imgbox">
                    <img src={{users.productimg.url}} class="card-img-top  rounded" alt="product.title" />
                  </div>
                  
                </a>
        
                <div class="label-top shadow-sm">
                  <a class="text-decoration-none text-white" href="#">{{users.name}}</a>
                </div>
                <div class="card-body">
                  <div class="clearfix mb-3">
                    <span class="float-start badge rounded-pill bg-success">{{users.price}}</span>
        
                    <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
                  </div>
                  <h5 class="card-title">
                    <a target="_blank" href="#">{{users.description}}</a>
                  </h5>
        
                  <div class="d-grid gap-2 my-4">
                      <form action="/cart" method="POST">
                          {% csrf_token %}
                          
                      
                              <!--<div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
                                  <i class="uil-bars"></i>
                              </div>-->
                      
                              <!-- <div class="header_search"> -->
                                  
                                  <input type="text" name="product_id" value="{{users.id}}" class="visually-hidden" placeholder="Search for username..">
                                  <button type="submit" class="btn btn-warning bold-btn">add to cart</button>
                                  <h1>
                                      {{elctronic}}
                                  </h1>
                              <!-- </div> -->
                      
                          </div>
                      </form>
                    
        
                  </div>
                  <div class="clearfix mb-1">
        
                    <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
        
                    <span class="float-end">
                      <i class="far fa-heart" style="cursor: pointer"></i>
        
                    </span>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
      </div>
      
  </section>
  {% endfor %}
    <!-- <div class="text-align-center">
        <ul class="pagination pagination-sm">
            <li class="disabled"><a href="#">Prev</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">Next</a>
            </li>
        </ul>
    </div> -->

</div>




{% else %}
<h1>
    Page is not accessable by Providers
</h1>
{% endif %}

{% endblock body %}