{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
{% if user_profile.usermode == 1 %}

{% block css %}<link rel="stylesheet" href="/static/provider.css">{% endblock css %}




<section class="bg-main bg-color hero-section">
    <div class="container">
        <div class="row mb-5 ">
            <div class="d-flex flex-column align-items-start justify-content-center col-xl-6 xol-lg-6 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Welcome To Amigoo
                </h1>
                <p class="mt-3 mb-5  para-width text-white ">
                    Where Excellence Meets Service: Elevating Your Experience, Because You Deserve the Best!
                </p>

                <div class="text-center w-100 text-md-start">
                    <button class="btn btn-primary px-5 py-2 " data-bs-offset="0,5" data-bs-placement="top"
                            data-bs-title="Get Best Services" data-bs-toggle="tooltip">Contact Us
                    </button>
                </div>

            </div>
            <br>

            <div class="col-xl-6 xol-lg-6 col-md-12 col-12 order-0 order-lg-1 hero-image--section ">
                <div class="text-md-end text-center mb-5">

                    
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_puciaact.json"
                        
                        background="transparent" speed="1"  loop
                        autoplay></lottie-player>
                    
                </div>
            </div>

        </div>

    </div>
    <div class="custom-shape-divider-bottom-1691589864">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</section>










<!--hero section end -->

<!--service section-->
<div class="container">
<section class=" services-section">
    <div class="container text-center common-title fw-bold">
        <h2 class="common-heading">What We Will Do For <br> Your Business</h2>
        <hr class="w-25 mx-auto ">
    </div>

    <div class="container mt-5">
        <div class="row g-5 ">
            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div class=" card-box rounded-2 p-5 text-center">
                    <img alt="GIF Image" class="img-fluid" src="/static/link.gif" width="200px">

                    <h5 class="my-3 fw-normal ">Increased Visibility</h5>
                    <p class="pe-3 mb-5">
                        Service providers gain a broader online presence, allowing them to showcase their skills and services to a larger audience.
                    </p>
                    <div class="  d-flex justify-content-center align-items-center ">
                        <a class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3"
                           href="/service.html">
                            <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12  ">
                <div class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/speaker.gif" width="200px">

                    <h5 class="my-3 fw-normal"> Customer Reviews</h5>
                    <p class="pe-3 mb-5">
                        Positive reviews and ratings from satisfied customers can help build a reputable and trustworthy online profile.
                    </p>
                    <div class="  d-flex justify-content-center align-items-center ">
                        <a class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3"
                           href="/service.html">
                            <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div class=" card-box rounded-2 p-5 text-center">
                    <img alt="GIF Image" class="img-fluid" src="/static/seo.gif" width="200px">
                    <h5 class="my-3 fw-normal "> Access to a Ready Market </h5>
                    <p class="pe-3 mb-5">
                        Providers can tap into a pool of potential customers actively seeking the services they offer, which can lead to a steady stream of clients.
                    </p>
                    <div class="  d-flex justify-content-center align-items-center ">
                        <a class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3"
                           href="/service.html">
                            <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</div>
<!--service section-->

<div class="container">
<!--testimonial section -->
<section class="common-section mb-5 pt-5 bg-color">
    <div class="container text-center common-title  ">
        <h2 class="common-heading text-white">What Client Say<br>About Us</h2>
        <hr class="w-25 mx-auto">
    </div>


    
   


</section>
</div>

<div class="container">
    <section class="common-section business-section" id="online_services">
        <div class="container text-center fw-bold common-title">
            <h2 class="common-heading">Generating New Customers Via <br>Online Mode</h2>
            <hr class="w-25 mx-auto ">
        </div>
    
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-md-12 ">
                    <div class="d-flex  px-3 py-5 shadow ">
                        <img alt="GIF Image" class=" d-md-block d-none  img-fluid mx-3" src="/static/online.jpg"
                             width="150px">
    
                        <div class="row ">
                            <p class="mb-3 fw-bolder">Increased Visibility </p>
                            <p> Service providers gain a broader online presence, allowing them to showcase their skills and services to a larger audience. </p>
                        </div>
                    </div>
                </div>
                
    
                <div class="col-xl-6 col-md-12 ">
                    <div class="d-flex  px-3 py-5 shadow ">
                        <img alt="GIF Image" class=" d-md-block d-none  img-fluid mx-3" src="/static/workt.jpg"
                             width="150px">
    
                        <div class="row ">
                            <p class="mb-3 fw-bolder">Access to a Ready Market </p>
                            <p> Providers can tap into a pool of potential customers actively seeking the services they offer, which can lead to a steady stream of clients.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-6 col-md-12 ">
                    <div class="d-flex  px-3 py-5 shadow ">
                        <img alt="GIF Image" class=" d-md-block d-none  img-fluid mx-3" src="/static/local.jpg"
                             width="150px">
    
                        <div class="row ">
                            <p class="mb-3 fw-bolder">Local Reach </p>
                            <p>Providers can focus on their local area, making it easier to manage logistics, respond to requests promptly, and build a strong local customer base.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-6 col-md-12 ">
                    <div class="d-flex  px-3 py-5 shadow ">
                        <img alt="GIF Image" class=" d-md-block d-none  img-fluid mx-3" src="/static/quality.jpg"
                             width="150px">
    
                        <div class="row ">
                            <p class="mb-3 fw-bolder">Customer Reviews</p>
                            <p>Positive reviews and ratings from satisfied customers can help build a reputable and trustworthy online profile.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
</div>    



<!--testimonail section ends-->

<!--Pricing section -->
<section class="common-section blog-section">
   
    <div class="container">
        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="upload" method="POST" class="form2" enctype="multipart/form-data" >
                {% csrf_token %}
                <p class="my-3 leading-6"> Upload Service
                </p>
                 
                    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js">
                    </script>
                    
                        <input type="file" name="productimg"  id="pic"
                        onchange="doUpload()" multiple = "false" accept = "image/*" />
                        <canvas id="can" class="startingClass">
                        </canvas>
                   
                      
                    <!-- <a href="#" class="button soft-warning small"> Choose file</a> -->
                    <div class="input-box">
                        <label>Service</label>
                        <input class="button soft-warning small" name="caption" placeholder="Describe Service" >
                    </div>
                    
               
                    <div class="input-box">
                        <label>Service</label>
                        <input type="text" class="input" name="price" placeholder="Enter Price like 120-1000 rs">
                    </div>
                    
                  
                    <div class="input-box">
                        <label>Service</label>
                        <input type="text" class="input"  name="name" placeholder="Name of Service...">
                    </div>
                    
                  
                    <div class="input-box">
                        <label>Service</label>
                        <input type="text" name="type"  class="input"  placeholder="Type of Service like plumbing,mechanical">
                    </div>
                    <div class="input-box">
                        <label>Service</label>
                        <input type="text" name="location"  class="input"  placeholder="Enter location like pune,pimpri etc.">
                    </div>
                    
                 
                    
                    <button class="button bg-blue-700" id="btnup" type="submit" data-bs-dismiss="modal" >Post Service</button>
               
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

        <div  class="container1" uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small">
    
            <!-- notivication header -->
            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                <h4>Upload Pics</h4>
            </div>
    
            <!-- notification contents -->
            <div class="flex justify-center flex-center text-center">
    
                <div class="flex flex-col choose-upload text-center">
                   
                    <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-10">
                            <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                        </svg>
                    </div>
    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Create Post
                      </button>
    
                    <!-- <a href="#" class="uk-text-muted mt-3 uk-link"
                        uk-toggle="target: .choose-upload ;  animation: uk-animation-slide-right-small, uk-animation-slide-left-medium; queued: true">
                        Or Import Video </a> -->
                </div>
    
                <div class="uk-flex uk-flex-column choose-upload" hidden>
                    <div class="mx-auto flex flex-col h-24 items-center justify-center relative w-full rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                            <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <p class="my-3 leading-6"> Import videos from YouTube <br> Copy / Paste your video link here </p>
                    <form class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand">
                            <input type="text" class="uk-input uk-form-small  bg-gray-200 " style="box-shadow:none" placeholder="Paste link">
                        </div>
                        <div class="uk-width-auto"> <button type="submit" class="button soft-warning -ml-2">
                                Import </button> </div>
                    </form>
                    <a href="#" class="uk-text-muted mt-3 uk-link"
                        uk-toggle="target: .choose-upload ; animation: uk-animation-slide-left-small, uk-animation-slide-right-medium; queued: true">
                        Or Upload Video </a>
                </div>
    
            </div>
            <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">
                Your Image size Must be Maxmium 999MB
            </div>
        </div>
    </div>


</section>

<!--    pricing section end -->

<section class="common-section blog-section">
   
    <div class="container">
        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="upload_post" method="POST" class="form2" enctype="multipart/form-data" >
                {% csrf_token %}
                <p class="my-3 leading-6"> Upload Post or Work of Yours
                </p>
                 
                    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js">
                    </script>
                    
                        <input type="file" name="image"  id="pic"
                        onchange="doUpload()" multiple = "false" accept = "image/*" />
                        <canvas id="can" class="startingClass">
                        </canvas>
                   
                      
                    <!-- <a href="#" class="button soft-warning small"> Choose file</a> -->
                    <div class="input-box">
                        <label>Service</label>
                        <input class="button soft-warning small" name="caption" placeholder="Describe Service" >
                    </div>
                    
                    <div class="input-box">
                        <label>Service</label>
                        <input type="text" class="input"  name="name" placeholder="Name of Service...">
                    </div>
                    
                    
                 
                    
                    <button class="button bg-blue-700" id="btnup" type="submit" data-bs-dismiss="modal" >Upload Post</button>
               
                </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

        <div  class="container1 bg-theme " uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small">
    
            
            <!-- notification contents -->
            <div class="flex justify-center flex-center text-center">
    
                <div class="flex flex-col choose-upload text-center">
                   
    
                    <button type="button" class="btn btn-primary " id="btnup" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Create Post
                      </button>
    
                    <!-- <a href="#" class="uk-text-muted mt-3 uk-link"
                        uk-toggle="target: .choose-upload ;  animation: uk-animation-slide-right-small, uk-animation-slide-left-medium; queued: true">
                        Or Import Video </a> -->
                </div>
    
                
    
            </div>
            
        </div>
    </div>


</section>


















<br>

<!--contact section-->
<section class="common-section bg-color contact-section text-white">
    <div class="custom-shape-divider-top-1684211116">
        <svg data-name="Layer 1" preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg">
            <path class="shape-fill"
                  d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
        </svg>
    </div>

    <div class="container text-center fw-bold common-title ">
        <h2 class="common-heading text-white ">Contact Us</h2>
        <hr class="w-25 mx-auto">
    </div>

    <div class="container ">
        <div class="form-section  mx-auto">
            <form>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="first-name">First name</label>
                            <input class="form-control" id="first-name" placeholder="First name"
                                   aria-label="First name" type="text" required>
                        </div>
                        <div class="col">
                            <label for="last-name" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Last name"
                                   aria-label="Last name" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" required
                           placeholder="Enter your email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" required
                              placeholder="Enter your message " rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</section>


<script src = "/static/provider.js">
</script>

{% else %}
<h1>
    Page is not accessable by Providers
</h1>
{% endif %}

{% endblock body %}